@media (max-width: 393px) {
    body {
        background-image: url(bg/mobile_bg.jpg)
    }

    header {
        position: absolute;
        width: 393px;
        height: 84px;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    }

    h1 {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #F56507;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        width: 65px;
        height: 16px;
        left: 40px;
        top: 43px;
    }

    li {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        color: #F56507;
        line-height: 12px;
    }

    li a {
        text-decoration: none;
        color: inherit;
        list-style: none;
    }

    nav.navbar {
        position: absolute;
        width: 100%;
        height: 16px;
        left: 35%;
        top: 43px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    h2 {
        position: absolute;
        width: 165px;
        height: 181px;
        left: 37px;
        top: 108px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #FFD984;
    }

    p.body {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.14em;
        color: #FFD984;
    }

    #section1 .body {
        position: absolute;
        width: 313px;
        height: 16px;
        left: 40px;
        top: 314px;
    }

    #friedNoodle {
        position: absolute;
        width: auto;
        height: 120.39px;
        left: 192px;
        top: 160.61px;
    }

    #chili {
        position: absolute;
        width: auto;
        height: 35.17px;
        left: 285.78px;
        top: 134px;
    }

    #lime {
        position: absolute;
        width: auto;
        height: 26.3px;
        left: 327.91px;
        top: 151.42px;
    }

    #sugar {
        position: absolute;
        width: auto;
        height: 32.95px;
        left: 313.97px;
        top: 187.86px;
    }
}